extends ./layout/layout

block title
    title Erreur 404 - Page introuvable

block style 
    link(rel="stylesheet" href="/style/error.css")

block main 
    span La page est introuvable (Erreur 404)
    